<div class="login-page">
  <h2>Авторизация</h2>
  <form [formGroup]="loginForm">
    <div>
      <div class="justify-content-center">
        <div></div>
        <mat-form-field appearance="outline">
          <mat-label>Электронная почта</mat-label>
          <input matInput formControlName="username">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Пароль</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
      </div>

      <div id="controls" class="row">
        <button style="width: 20%; margin-right: 1rem;" [disabled]="loginForm.invalid" (click)="submit()" mat-flat-button color="primary">
          Войти
        </button>
        <a routerLink="/register">Зарегистрироваться</a>
      </div>
    </div>
  </form>
</div>
