<div class="container" xmlns="http://www.w3.org/1999/html">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
  <select [(ngModel)]="selectedPlanId" class="form-control">
    <option *ngFor="let plan of plans" [ngValue]="plan.planId">
      {{ plan.name }}
    </option>
  </select>
  <div style="display: flex; justify-content: space-between;">
    <!--  &lt;!&ndash; Добавляем кнопку для создания нового плана &ndash;&gt;-->
    <!--  <div>-->
    <!--    <input type="text" [(ngModel)]="newPlanName" placeholder="Название плана">-->
    <!--    <button (click)="createPlan()">Создать план</button>-->
    <!--  </div>-->
    <button mat-flat-button color="primary" style="width: 33%;" (click)="openCreateModal()">Создать
      план
    </button>
    <!-- Модальное окно для публикации плана -->
    <div *ngIf="showCreateModal" class="modal">
      <div class="modal-content">
        <span class="close" (click)="closeCreateModal()">&times;</span>
        <h2 class="modal-title">Создание плана</h2>
        <form [formGroup]="createForm">
          <mat-form-field appearance="outline">
            <mat-label>Название</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>

          <button type="button" style="width: 20%; margin-right: 1rem;"
                  [disabled]="createForm.invalid" (click)="createPlan()" mat-flat-button
                  color="primary">
            Создать
          </button>
        </form>
      </div>
    </div>

    <!-- Кнопка для копирования плана -->
    <button mat-flat-button color="primary" style="width: 33%;" (click)="openCopyModal()">
      Копировать
      план
    </button>
    <!-- Модальное окно для копирования плана -->
    <div *ngIf="showCopyModal" class="modal">
      <div class="modal-content">
        <span class="close" (click)="closeCopyModal()">×</span>
        <h2>Копирование плана</h2>
        <select [(ngModel)]="copyPlanId" class="form-control">
          <option *ngFor="let plan of plans" [ngValue]="plan.planId">
            {{ plan.name }}
          </option>
        </select>
        <button (click)="copyPlan()">Подтвердить копирование</button>
      </div>
    </div>

    <!-- Кнопка для публикации плана -->
    <button mat-flat-button color="primary" style="width: 33%;" (click)="openPublishModal()">
      Опубликовать план
    </button>
    <!-- Модальное окно для публикации плана -->
    <div *ngIf="showPublishModal" class="modal">
      <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2 class="modal-title">Публикация плана</h2>
        <form [formGroup]="publishForm">
          <!--        <div class="form-group">-->
          <!--          <label for="userName">Имя пользователя:</label>-->
          <!--          <input type="text" id="userName" [(ngModel)]="userName" name="userName" required>-->
          <!--        </div>-->

          <!--        <div class="form-group">-->
          <!--          <label for="week">Неделя:</label>-->
          <!--          <input type="number" id="week" [(ngModel)]="week" name="week" required>-->
          <!--        </div>-->

          <!--        <div class="form-group">-->
          <!--          <label for="date">Дата:</label>-->
          <!--          <input type="text" id="date" [(ngModel)]="date" name="date" placeholder="dd.mm.yyyy" required>-->
          <!--        </div>-->
          <mat-form-field appearance="outline">
            <mat-label>Имя пользователя</mat-label>
            <input matInput formControlName="userName">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Количество недель</mat-label>
            <input matInput formControlName="week">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Дата</mat-label>
            <input matInput formControlName="date">
          </mat-form-field>

          <button type="button" style="width: 20%; margin-right: 1rem;"
                  [disabled]="publishForm.invalid" (click)="publishPlan()" mat-flat-button
                  color="primary">
            Опубликовать
          </button>
        </form>
      </div>
    </div>

  </div>

  <table>
    <thead>
    <tr>
      <th>День недели</th>
      <th>Завтрак</th>
      <th>Обед</th>
      <th>Ужин</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let day of daysOfWeek">
      <td>{{ translateEnglishToRussianDay(day) }}</td>
      <td *ngFor="let meal of eatingTimes">
        <div *ngFor="let ingredientDay of getIngredientsForDayAndMeal(day, meal)"
             [ngClass]="{'text-green': isDietician && ingredientDay.checkIngredient === true,
                 'text-red': isDietician && ingredientDay.checkIngredient === false}">
          {{ ingredientDay.count }} x {{ ingredientDay.ingredient.name }}
          <!-- Иконка стрелочки и дополнительная информация -->
          <span *ngIf="isDietician && ingredientDay.checkIngredient === false"
                (click)="toggleIngredientDetails(selectedPlanId, day, meal, ingredientDay)">
                &#x25BC;
                <div *ngIf="ingredientDay.showDetails">
                  <!-- Дополнительная информация отобразится здесь -->
                  {{ ingredientDay.name }}: {{ ingredientDay.countT }}
                  <div *ngIf="ingredientDay.comment">Комментарий: {{ ingredientDay.comment }}</div>
                </div>
          </span>
          <button color="accent" mat-button
                  (click)="deleteIngredient(selectedPlanId, day, meal, ingredientDay.ingredient.name)">
            <mat-icon color="accent">clear</mat-icon>
          </button>
          <!-- Кнопка "Подтвердить" видна только если пользователь не является диетологом -->
          <div
              *ngIf="ingredientDay.checkIngredient !== true && ingredientDay.checkIngredient !== false">
            <button *ngIf="!isDietician"
                    (click)="check(selectedPlanId, day, meal, ingredientDay.ingredient.name, ingredientDay.count)">
              Подтвердить
            </button>
            <button *ngIf="!isDietician" (click)="enableEdit(ingredientDay)">Изменить</button>
          </div>
          <!-- Поля для редактирования, появляются в режиме редактирования -->
          <div *ngIf="ingredientDay.editing">
            <select [(ngModel)]="ingredientDay.selectedIngredient" class="form-control">
              <option *ngFor="let ingredient of ingredients" [ngValue]="ingredient">
                {{ ingredient.name }}
              </option>
            </select>
            <input type="number" [(ngModel)]="ingredientDay.count" placeholder="Количество">
            <input type="text" [(ngModel)]="ingredientDay.comment" placeholder="Комментарий">
            <button (click)="updateIngredient(selectedPlanId, day, meal, ingredientDay.ingredient,
            ingredientDay.selectedIngredient || ingredientDay.ingredient, ingredientDay.count, ingredientDay.comment)">
              Сохранить изменения
            </button>
            <button (click)="ingredientDay.editing = false">Отмена</button>
          </div>
        </div>
        <!-- Элементы для добавления ингредиентов видны только если пользователь является диетологом -->
        <ng-container *ngIf="isDietician">
          <select #selectedIngredient (change)="onSelectIngredient($event, day, meal)"
                  class="form-control">
            <option *ngFor="let ingredient of ingredients" [ngValue]="ingredient">
              {{ ingredient.name }}
            </option>
          </select>
          <input type="number" value="1" min="0" [(ngModel)]="selectedAmount[day][meal]"
                 placeholder="Количество">
          <button mat-flat-button color="primary"
                  style="width: 30%; margin-left: 10px;"
                  (click)="addIngredient(selectedPlanId, day, meal, selectedIngredient.value, selectedAmount[day][meal])">
            Добавить
          </button>
        </ng-container>
      </td>
    </tr>
    </tbody>
  </table>

</div>
