<div class="container">
  <table>
    <thead>
    <tr>
      <th>День недели</th>
      <th>Завтрак</th>
      <th>Обед</th>
      <th>Ужин</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let day of days">
      <td>{{ day }}</td>
      <td *ngFor="let meal of meals">
        <select (change)="onSelectIngredient($event, day, meal)">
          <option *ngFor="let ingredient of ingredients" [value]="ingredient.id">{{ ingredient.name }}</option>
        </select>
        <input type="number" [(ngModel)]="selectedAmount[day][meal]" placeholder="Количество">
        <button (click)="addIngredient(day, meal)">Добавить</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
