.container {
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

input[type="number"] {
    margin-top: 10px;
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}

.modal {
    position: fixed; /* Фиксированное позиционирование относительно окна браузера */
    top: 0;
    left: 0;
    width: 100%; /* Ширина на весь экран */
    height: 100%; /* Высота на весь экран */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    display: flex;
    justify-content: center; /* Центрирование контента по горизонтали */
    align-items: center; /* Центрирование контента по вертикали */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    width: 50%;
    min-width: 300px;
  text-align: center; /* Выравнивание текста по центру */
}

.close {
  float: right;
  font-size: 28px;
  cursor: pointer;
}

.modal-title {
  /* Стилизация заголовка */
  text-align: center;
}

.publish-form {
  /* Стилизация формы */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  /* Стилизация группы внутри формы */
  margin-bottom: 10px; /* Отступы между полями */
  width: 100%; /* Ширина каждой группы */
  text-align: left; /* Выравнивание текста слева */
}

.small-input {
    width: 150px; /* Измените значение ширины на желаемое */
}

.small-input .mat-form-field-wrapper {
    height: 10px; /* Измените на требуемую высоту */
}


.small-input {
    min-width: 100px;
    max-width: 200px;
    min-height: 10px;
    max-height: 10px;
}

.modal-content {
  position: relative;
}

.close {
  position: absolute;
  top: 10px;      /* Отступ сверху */
  right: 10px;    /* Отступ справа */
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}

.small-button {
    padding: 5px 10px; /* Уменьшенные поля */
    font-size: 14px; /* Меньший размер шрифта */

}

.form-control {
    margin-bottom: 20px; /* Расстояние снизу */
}

.centered-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 24px; /* Размер шрифта */
    color: #333; /* Цвет текста */
    padding-top: 24%; /* Отступ сверху */
}