<mat-toolbar color="primary">
  <span routerLink="/main" style="cursor: pointer;margin-left: 20px;">Recipes</span>

  <div class="spacer"></div>

  <form class="search-form" (submit)="onSearch($event)">
    <input type="text" placeholder="Search by username" [(ngModel)]="searchTerm" name="searchTerm">
    <button type="submit" mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </form>

  <button *ngIf="!isLoggedIn" matTooltip="Login" routerLink="/login" mat-icon-button class="example-icon favorite-icon" color="black">
    <mat-icon>login</mat-icon>
  </button>

  <button matTooltip="Favorite" routerLink="/favorites" mat-icon-button class="example-icon favorite-icon">
    <mat-icon>bookmark_border</mat-icon>
  </button>

  <button matTooltip="Notifications" mat-icon-button [matMenuTriggerFor]="notificationsMenu" class="example-icon">
    <mat-icon>notifications</mat-icon>
    <span *ngIf="unreadNotifications > 0" class="notification-badge">{{unreadNotifications}}</span>
  </button>
  <mat-menu #notificationsMenu="matMenu">
    <div *ngFor="let notification of notifications">
      <mat-menu-item>
        <h3>{{notification.heading}}</h3>
        <p>{{notification.text}}</p>
        <p>{{notification.date | date}}</p>
        <button *ngIf="!notification.isRead" mat-button (click)="markAsRead(notification.id)">Прочитать</button>
        <mat-icon *ngIf="!notification.isRead">mark_email_unread</mat-icon>
      </mat-menu-item>
    </div>
  </mat-menu>

  <h3 *ngIf="isDataLoaded">{{this.user.firstname}} {{this.user.lastname}}</h3>

  <button *ngIf="isLoggedIn" [matMenuTriggerFor]="menu" matTooltip="Profile" mat-icon-button class="profile-button">
    <img class="profile-image" [src]="previewImgURL || formatImage(userProfileImage) || 'https://i.pinimg.com/originals/2c/0c/7e/2c0c7e4fb33f0d39f3c7573edc0cb68e.jpg'" alt="user image">
  </button>
  <mat-menu id="menu-item" #menu="matMenu">
    <button mat-menu-item routerLink="/profile">Profile</button>
    <button (click)="logout()" mat-menu-item>
      Logout
    </button>
  </mat-menu>
</mat-toolbar>
