/* styles.css */
.table-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredient-table {
  border-collapse: collapse;
  width: 80%;
  margin-top: 20px;
}

.ingredient-table th, .ingredient-table td {
  border: 1px solid #ddd; /* Рамка вокруг ячеек */
  padding: 8px 16px; /* Отступы внутри ячеек */
}

.ingredient-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.ingredient-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.ingredient-table tr:hover {
  background-color: #e8e8e8;
}


.container {
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

input[type="number"] {
    margin-top: 10px;
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}

.modal {
  position: fixed; /* Фиксированное позиционирование относительно окна браузера */
  top: 0;
  left: 0;
  width: 100%; /* Ширина на весь экран */
  height: 100%; /* Высота на весь экран */
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
  display: flex;
  justify-content: center; /* Центрирование контента по горизонтали */
  align-items: center; /* Центрирование контента по вертикали */
  z-index: 1000; /* Высокий z-index для перекрытия другого контента */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  width: 45%;
  min-width: 300px;
  text-align: center; /* Выравнивание текста по центру */
}

.close {
  float: right;
  font-size: 28px;
  cursor: pointer;
}

.modal-title {
  /* Стилизация заголовка */
  text-align: center;
}

.publish-form {
  /* Стилизация формы */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  /* Стилизация группы внутри формы */
  margin-bottom: 10px; /* Отступы между полями */
  width: 100%; /* Ширина каждой группы */
  text-align: left; /* Выравнивание текста слева */
}

.modal-content {
  position: relative;
}

.modal-edit .modal-content {
  position: relative;
  z-index: 1001; /* Установим больший z-index для содержания модального окна */
  background: #fff; /* Установим белый фон для содержания модального окна */
  padding: 20px; /* Немного паддинга для содержимого */
  border-radius: 4px; /* Слегка скруглим углы */
}