.container {
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

input[type="number"] {
    margin-top: 10px;
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}

.form-control {
    margin-bottom: 20px; /* Расстояние снизу */
}

.modal-edit {
    position: fixed; /* Фиксированное позиционирование относительно окна браузера */
    top: 0;
    left: 0;
    width: 100%; /* Ширина на весь экран */
    height: 100%; /* Высота на весь экран */
    background-color: rgba(0, 0, 0, 0.05); /* Более темный полупрозрачный черный фон */
    display: flex;
    justify-content: center; /* Центрирование контента по горизонтали */
    align-items: center; /* Центрирование контента по вертикали */
    z-index: 1000; /* Установим больший z-index для модального окна */
}

body.modal-open {
    overflow: hidden; /* Отключаем скролл */
}

.modal-edit .modal-content {
    position: relative;
    z-index: 1001; /* Установим больший z-index для содержания модального окна */
    background: #fff; /* Установим белый фон для содержания модального окна */
    padding: 20px; /* Немного паддинга для содержимого */
    border-radius: 4px; /* Слегка скруглим углы */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    width: 50%;
    min-width: 300px;
  text-align: center; /* Выравнивание текста по центру */
}

.modal {
    position: fixed; /* Фиксированное позиционирование относительно окна браузера */
    top: 0;
    left: 0;
    width: 100%; /* Ширина на весь экран */
    height: 100%; /* Высота на весь экран */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    display: flex;
    justify-content: center; /* Центрирование контента по горизонтали */
    align-items: center; /* Центрирование контента по вертикали */
}

.modal-title {
  /* Стилизация заголовка */
  text-align: center;
}

 .input-group {
    display: flex;
    flex-direction: column; /* Создание колонны для вертикального выравнивания */
    align-items: flex-start; /* Выравнивание элементов в начале контейнера */
    margin-bottom: 20px; /* Расстояние между группами */
    width: 150%; /* Установка ширины группы ввода */
    margin: auto; /* Центрирование группы ввода по горизонтали */
    min-width: 2500px; /* Минимальная ширина, чтобы поля не были слишком узкими на маленьких экранах */
    left: 238px;
 }

.input-group label {
    margin-left: 60px; /* Добавляет отступ слева для метки */
}

.input-group.custom-input-group label {
    margin-left: 80px; /* Увеличение отступа слева для меток в новом классе */
}

.input-group.custom-input-group {
    left: 238px; /* Сдвиг влево для нового класса */
}

#ingredientNameSelect {
   height: 35px; /* Установленная ранее высота для списка */
}

.close {
  position: absolute;
  top: 10px;      /* Отступ сверху */
  right: 10px;    /* Отступ справа */
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}